<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SYSTEM_LOG_FOLDER" value="C:\quo\_dev\log\" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="INPUT_FOLDER" value=".\..\..\..\Test\input\"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="BKUP_FOLDER" value=".\..\..\..\Test\bkup\"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="S3_ACCESS_KEY" value=""  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="S3_SECRET_KEY" value=""  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="S3_BUCKET_NAME" value="quo-stg-test-bucket"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>